langchain==0.3.26
langchain-core==0.3.74
langchain-community==0.3.27
langchain-groq==0.3.7
chromadb==1.0.15
sentence-transformers==5.0.0
python-dotenv==1.1.1
pypdf==5.9.0
fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.9.2


## uvicorn api:app --reload